.flex-container {
    display: flex;
}

.flex-item {
    flex-grow: 1;
    text-align: center;
    border: 1px solid white;
    background-color: rgb(22, 22, 160);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    height: 40px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-button-item {
    flex-grow: 1;
    text-align: center;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    margin-right: 5px;
    padding: 5px;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-upload {
    padding-top: 10px;
    background-color:orangered;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.button-home {
    padding-top: 10px;
    background-color: orange;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.floatLeft{
    float: left; 
}

.floatRight{
    float: right; 
}