.main-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: lightgrey;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100% / 2);
    width: 800px;
    align-content: space-around;
}

.flexcontainer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: baseline;
    align-items: baseline;
    -webkit-justify-content: center;
    justify-content: center;
 }

.flex-item {
    flex-grow: 1;
    height: stretch;
    align-self: center;
    background-color: grey;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 25px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
